<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Feedback </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary text-white ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">GNITS</a>
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{%url 'logout'%}">LOGOUT</a>
                </li>
            </ul>
              </div>
            </div>
          </nav>
        {{ chart_data|json_script:"chart" }}
          <div id="bar-chart" ></div>

        
      </div>
      
    </body>
    <script id="chart" type="application/json">JSON HERE</script>

    <script>

        const value = JSON.parse(document.getElementById('chart').textContent);


        {% comment %} console.log({{chart_data}}) {% endcomment %}
        {% comment %} var chart_data = JSON.parse({{chart_data}}) {% endcomment %}
        {% comment %} var chart = JSON.parse("{{chart_data|safe}}") {% endcomment %}
        new Morris.Bar(value);

    </script>